{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Dean Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dean">Deans</a></li>
                        <li class="breadcrumb-item active">Dean Details</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>About</h4>
                            <div class="media mt-3">

                                {% if dean.dean_image %}
                                <img src="{{ dean.dean_image.url }}" class="mr-3 rounded-circle" alt="Dean Image"
                                    style="width: 150px; height: 150px; object-fit: cover;">
                                {% else %}
                                <img src="{% static 'assets/img/profiles/default-profile.png' %}"
                                    class="mr-3 rounded-circle" alt="No Image"
                                    style="width: 150px; height: 150px; object-fit: cover;">
                                {% endif %}

                                <div class="media-body">
                                    <ul>
                                        <li><span class="title-span">Full Name:</span> <span
                                                class="info-span">{{dean.first_name }} {{ dean.last_name }}</span></li>
                                        <li><span class="title-span">Employee ID:</span> <span
                                                class="info-span">{{dean.employee_id }}</span></li>
                                        <li><span class="title-span">Email:</span> <span
                                                class="info-span">{{dean.email}}</span></li>
                                        <li><span class="title-span">Mobile:</span> <span
                                                class="info-span">{{dean.mobile_number }}</span></li>
                                        <li><span class="title-span">Gender:</span> <span
                                                class="info-span">{{dean.gender }}</span></li>
                                        <li><span class="title-span">Date of Birth:</span> <span
                                                class="info-span">{{dean.date_of_birth }}</span></li>
                                        <li><span class="title-span">Religion:</span> <span
                                                class="info-span">{{dean.religion }}</span></li>
                                        <li><span class="title-span">Joining Date:</span> <span
                                                class="info-span">{{dean.joining_date }}</span></li>
                                        <li><span class="title-span">Salary:</span> <span
                                                class="info-span">₹{{dean.salary }}</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h5>Address</h5>
                                    <p>{{ dean.address }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="text-center py-4 mt-5 border-top">
        <p class="mb-0 text-muted">&copy; 2025 Preskool. All rights reserved.</p>
    </footer>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}