{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Transport Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'transport_list' %}">Transport</a></li>
                        <li class="breadcrumb-item active">{{ transport.name }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        {% if transport.image %}
                        <img src="{{ transport.image.url }}" class="img-fluid rounded" alt="{{ transport.name }}">
                        {% else %}
                        <img src="{% static 'assets/img/profiles/default-profile.png' %}" class="img-fluid rounded" alt="No Image">
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <h4>{{ transport.name }}</h4>
                        <ul class="list-unstyled mt-3">
                            <li><strong>Type:</strong> {{ transport.transport_type }}</li>
                            <li><strong>Registration No.:</strong> {{ transport.registration_number }}</li>
                            <li><strong>Capacity:</strong> {{ transport.capacity }}</li>
                            <li><strong>Driver Name:</strong> {{ transport.driver_name }}</li>
                            <li><strong>Driver Contact:</strong> {{ transport.driver_contact }}</li>
                            <li><strong>Associated Hostel:</strong> {{ transport.associated_hostel.name }}</li>
                            <li><strong>Location:</strong> {{ transport.associated_hostel.location }}</li>
                        </ul>
                    </div>
                </div>

                {% if transport.route_details %}
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h5>Route Details</h5>
                        <p>{{ transport.route_details }}</p>
                    </div>
                </div>
                {% endif %}

                {% if transport.available_timings %}
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h5>Available Timings</h5>
                        <p>{{ transport.available_timings }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
     <footer class="text-center py-4 mt-5 border-top">
        <p class="mb-0 text-muted">&copy; 2025 Preskool. All rights reserved.</p>
    </footer>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}